.nav {
    grid-area: nav;
    background-color: rgba(90, 67, 148, 0.384);
    padding: 20px;
    height: 200px;
  }

  .item a {
      color: white;
      text-decoration: none;
  }

  .item a.activeLink {
    color: rgb(22, 22, 21);
}